<ul>
    <li>
        <a routerLink="/products"> All Products</a>
    </li>
    <li>
        <a routerLink="/products" routerLinkActive="active" [queryParams]="{'category':'men'}"> Men</a>
    </li>
    <li>
        <a routerLink="/products" routerLinkActive="active" [queryParams]="{'category':'electronics'}"> Electronics</a> 
    </li>
    <li>
        <a routerLink="/products" routerLinkActive="active" [queryParams]="{'category':'women'}"> Women</a> 
    </li>
    <li>
        <a routerLink="/products" routerLinkActive="active" [queryParams]="{'category':'jewelery'}"> Jewelery</a> 
    </li>
     
</ul>