 <!-- <app-header></app-header> -->
<!-- <app-todo></app-todo>  -->
<!-- <app-login></app-login>
<app-search></app-search> -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-rock-paper-scissor></app-rock-paper-scissor> -->
<!-- <app-contact-form></app-contact-form>
<app-reactive-form></app-reactive-form> -->
<!-- 
<app-note-app></app-note-app> -->

<p #para> Hello this is paragraph 1 </p>
<p #para> Hello this is p2 </p>

<h1 #tera>This is h1 tag</h1>
<h2 #tera>This is h2 tag</h2>
<h3 #tera>This is H3 tag</h3>

<button (click) ="pest()">Click</button>