
    <!-- <ul>
        <li>
            list 1
        </li>
        <li>
            list 2
        </li>
        <li>
            list 3
        </li>
    </ul> -->
    <!-- <h6 class="pc">Hello this is going to child  component</h6>
</app-child>
<h6>Hello this is parent component</h6>
<app-child [clients] ="employes"></app-child> -->

<ng-container *ngFor="let n of [0,8,9,70,335]">
<div *ngIf="n%2 == 0">
 {{n}}
</div>


</ng-container>
<!-- <ng-content></ng-content>
<ng-template></ng-template> -->
