.mob-table{
    width:800px;
    padding:20px 25px;
    background-color: white;
    margin:30px 0;
    border-radius:3px;

}
.headers{
    display: flex;
    justify-self: space-between;
    align-items: center;
    padding:16px 30px;
    background-color: blueviolet;
    color: white;
}
.add{
    background-color: rgb(127, 206, 127);
    color: white;
   margin: auto;
}
.btn-primary{
    background-color: blue;
    color: white;
}
th{
    text-align: center;
}