<form>
    <label class="m-2">User name:</label>
    <input required
    minlength="3"
    type="text"
    class="form-control w-50 m-2"
    ngModel
    name="uname"
    #un = "ngModel"

    />
    <p  class="err-msg" *ngIf="un.touched &&un.errors?.['required']">User name required</p>
    <p  class="err-msg" *ngIf="un.touched &&un.errors?.['minlength']">Username should be 3 characters</p>
    <label class="m-2">Password:</label>
    <input required
    minlength="8"
    type="password"
    class="form-control w-50 m-2"
    ngModel
    name="pwd"
    #p = "ngModel"

    />
    <button (cilck)="show(un,p)" class="btn btn-primary mt-2"> Click</button>
</form>