<div class="cards">
    <div *ngFor = "let product of products">
        <div class="card">
            <div class="card-header">
                <img  class="image" src="{{product}}"/>
                <div class="info">
                    <p class="name">{{product    }}</p>
                    <p class="profile-desc"></p>

                </div>

            </div>
            <div class="action">
                <button class="btn btn-pink">Buy</button>

            </div>

        </div>

    </div>

</div>
